.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;

}

.container2{
    display: flex;
   
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    gap: 20px;
    
}

button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 200px;
    height: 50px;
    background-color: #078f0c;
    color: white;
    border: none;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    z-index: 1;
}

a {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Inherits color from parent element */
}


@media (max-width: 768px) {
    .container2{
        flex-direction: column;
    }
    
}




